comtypes==1.4.13
keyboard==0.13.5
pywin32==311
pywinauto==0.6.9
PyYAML==6.0.3
setuptools==80.9.0
six==1.17.0
wheel==0.45.1
altgraph==0.17.5
cffi==2.0.0
comtypes==1.4.13
cryptography==46.0.3
keyboard==0.13.5
mss==10.1.0
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pefile==2024.8.26
pyarmor==9.2.2
pyarmor.cli.core==8.1.0
pycparser==2.23
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pywin32==311
pywin32-ctypes==0.2.3
pywinauto==0.6.9
PyYAML==6.0.3
six==1.17.0
typing_extensions==4.15.0
altgraph==0.17.5
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
comtypes==1.4.13
cryptography==46.0.3
idna==3.11
keyboard==0.13.5
mss==10.1.0
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pefile==2024.8.26
pyarmor==9.2.2
pyarmor.cli.core==8.1.0
pycparser==2.23
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pywin32==311
pywin32-ctypes==0.2.3
pywinauto==0.6.9
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.1
